
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #000000;
    font-family: 'B612', monospace;
    color: #a2a2a2;
    alignment: left;
    margin: auto;
    margin-left: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #cf7b00;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #a42100;
}

a:active {
    text-decoration: underline;
    color: white;
}

h1 {
    color: #cc5500
}

h2 {}

h3.resume {
    text-decoration: underline;
}

h4 {}


