body {
	font-family: Arial;
	background: white;
}

.topnavbar a {
	font-size: 150%;
	text-align: center;
	color: white;
	background-color: black;
	padding: 5px;
	border: thin solid black;
	border-radius: 5px;
}
.header {
	margin: 5px;
	border: medium solid black;
	padding: 5px;
	font-size: 550%;
	text-align: center;
	border-radius: 10px;
}
