body {
	width: auto;
	font-family: Arial;
	background: white;
}

.topnavbar a {
	font-size: 150%;
	text-align: center;
	color: white;
	background-color: #6084FF;
	padding: 5px;
	border: thin solid #6084FF;
	border-radius: 5px;
}
.header {
	margin: auto;
	text-align: center;
	height: 100px;
	width: vw;
	font-size: 550%;
	padding: 10px;
	color: white;
	background-color: #6084FF;
	border: medium solid #6084FF;
	border-radius: 10px;
}
